global:
  scrape_interval: 5s

scrape_configs:

  # Monitor Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  # Monitor Kubernetes master node through node_exporter (inside docker)
  - job_name: 'node-master'
    static_configs:
      - targets: ['nodeexporter:9100']

  # Monitor containers running on Kubernetes master (cAdvisor)
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  # Monitor ALL Kubernetes nodes (external node_exporter)
  - job_name: 'k8s-nodes'
    static_configs:
      - targets:
        - '13.203.226.128:9100'   # K8s master
        - '13.233.167.191:9100'   # K8s node1
        - '13.203.221.93:9100'    # K8s node2

  # Monitor Jenkins master Prometheus endpoint
  - job_name: 'jenkins-master'
    metrics_path: /prometheus
    static_configs:
      - targets: ['15.207.106.6:8080']

  # Monitor Jenkins master system metrics
  - job_name: 'jenkins-master-node'
    static_configs:
      - targets: ['15.207.106.6:9100']

  # Monitor Jenkins Agent system metrics
  - job_name: 'jenkins-agent'
    static_configs:
      - targets:
        - '13.203.226.128:9100'   # Jenkins Agent1
